@import '~@/styles/variables.less';

.dockWrapper {
  position: absolute;
  width: 90%;
  height: @dock-height;
  left: calc(50% - 90% / 2);
  bottom: 10px;
  background: rgb(255 255 255 / 40%);
  background-blend-mode: luminosity;
  backdrop-filter: blur(81.5485px);
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}
